<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PrimaryPort" value="8000"/>
    <add key="BackupPort" value="8001"/>
    <add key="Primary" value="C:\\sample files\\serverFile.txt.txt"/>
    <add key="Backup" value="C:\\sample files\\serverFile2.txt.txt"/>
  </appSettings>
</configuration>